/* (Mariia) style for footer */
.footer {
    background-color: #363636;
  }
.footer_content {
    margin: 0 20px;
    padding: 20px 0;
  }
  .footer p,a {
    color: #ffffff;
  }
  .footer_content_address {
    margin: 44px 0;
  }