/*(Mariia) commented as dont need this style for whole app */
/*.App {
  text-align: center;
} */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




/* (Mariia) style for footer */
.footer {
  background-color: #363636;
}
.footer_content {
  margin: 0 20px;
  padding: 20px 0;
}
.footer p,a {
  color: #ffffff;
}
.footer_content_address {
  margin: 44px 0;
}

/*(Mariia) style for profile page*/
.title{
  background-color: #363636;
}
.title h1 {
  color: #ffffff;
  padding: 20px;
}

.profile_content_details_avatar{
  /* width: 135px;
  height: 135px;
  border-radius: 50%;
  border: #363636 2px solid;
  object-fit:cover;
  overflow: hidden;
  position: relative; */
  background-color: #363636;
}
/* .profile_content_details_avatar img{
  position: absolute;
} */


.profile_content_details_name p {
  margin-bottom: 0;
}
.profile_content_details {
  margin-bottom: 40px;
}
.profile_content {
  margin: 20px;
}
.profile_content h4{
  margin-bottom: 1.8rem;
}
.row-margin-bottom {
  margin-bottom: 45px;
}
/* .profile_location_icon {
  height: 14px;
  margin-right: 5px;
} */

/*(Mariia) override bootsrtap rules*/
#bootstrap-overrides .container{
  padding: 0;
}

