/* (Mariia) style for post page,cards */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.post_content{
    margin: 20px;
}
.card-text {
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    white-space: nowrap;
}
.card_icons-big img {
    width:1.5rem;
    height:1.5rem;
    margin: 0 5px;
}
.card_icons-big {
    width: 20%;
    /* margin-left: auto; */
}

.card_link{
    text-decoration: none;
    width: 80%;
}
.card-info {
    width: 80%;
}
.post_content_user-details img:first-child{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.post_content_user-details img:last-child{
    height: 20px;
}
.post_content_user-details h4{
    margin: 0;
}
.post_content_user-details p{
    margin: 0;
}
.post_content_user-details {
    margin-bottom: 20px;
}
.post_content {
    height: 80vh;
}
.icon-large {
    font-size: 24px;
}