/*(Mariia) style for profile page*/
.title{
    background-color: #363636;
  }
  .title h1 {
    color: #ffffff;
    padding: 20px;
  }
  .profile_content_details_avatar img{
    width: 135px;
    height: 135px;
    object-fit: cover;
  }
  .profile_content_details_name p {
    margin-bottom: 0;
  }
  .profile_content_details {
    margin-bottom: 40px;
  }
  .profile_content {
    margin: 20px;
  }
  .profile_content h4{
    margin-bottom: 1.8rem;
  }
  .row-margin-bottom {
    margin-bottom: 45px;
  }

 /* .card-transparent-bg {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
 } */
 .card-position {
    position: relative;
 }
 /* .card-title-overlay {
    position:absolute;
 } */
 .card-body {
    position:absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    padding: 10px;
    bottom: 0px;
    width: 100%;
 }
 .card-title {
    color: #ffffff;
    margin: 0;
 }
 .card_icons img{
    width:1rem;
    height:1rem;
    margin-left: 10px;
 }
 .card {
    border: none;
    margin-bottom: 20px;
 }